<div class = 'container'>
	<div class = 'row'>
		<div class = 'col-md-12'>

			<h4 class = 'text-center'>Now showing your submitted survey data...</h4>
		</div>
		<div class = 'col-md-12'>
				<table class = 'documentInfoContainer adjustWidth'>
					<tr>
						<td class="table-header-bold">User ID: </td>
						<td>{{data.id}}</td>
					</tr>
					<tr>
						<td class="table-header-bold">First Name: </td>
						<td>{{data.first_name}}</td>
					</tr>
					<tr>
						<td class="table-header-bold">Last Name: </td>
						<td>{{data.last_name}}</td>
					</tr>
					<tr>
						<td class="table-header-bold">Address: </td>
						<td>{{data.address}}</td>
					</tr>
					<tr>
						<td class="table-header-bold">Apartment No.: </td>
						<td>{{data.apt_no}}</td>
					</tr>
					<tr>
						<td class="table-header-bold">City: </td>
						<td>{{data.city}}</td>
					</tr>
					<tr>
						<td class="table-header-bold">ZIP Code: </td>
						<td>{{data.zip}}</td>
					</tr>
					<tr>
						<td class="table-header-bold">Date of birth:</td>
						<td>{{data.date_of_birth}}</td>
					</tr>
					<tr>
						<td class="table-header-bold">Country of Birth:</td>
						<td>{{data.country_of_birth}}</td>
					</tr>		
					<tr>
						<td class="table-header-bold">Citizenship:</td>
						<td>{{data.country_of_citizenship}}</td>
					</tr>
					<tr>
						<td class="table-header-bold">Social Security Number:</td>
						<td>{{data.social_security_num}}</td>
					</tr>
					<tr>
						<td class="table-header-bold">A-Number: </td>
						<td>{{data.a_number}}</td>
					</tr>
					<tr>
						<td class="table-header-bold">Date of last arrival: </td>
						<td>{{data.date_of_last_arrival}}</td>
					</tr>
					<tr>
						<td class="table-header-bold">i94 Number:</td>
						<td>{{data.i94_arrival_departure_record_number}}</td>
					</tr>
					<tr>
						<td class="table-header-bold">Current USCIS Status: </td>
						<td>{{data.current_uscis_status}}</td>
					</tr>
					<tr>
						<td class="table-header-bold">Status Expires:</td>
						<td>{{data.status_expires_on}}</td>
					</tr>
				</table>
		</div>
		<div class = 'col-md-12'>
			<div class="document-next-steps"
				<div class="redo-survey-div">
					<h5 class="redo-survey-div">Want to edit your answers?</h5>
					<button type="button" class="btn btn-default redo-survey-div text-center" id="btn-edit-survey">Re-do survey</button>
				</div>

				<div class="instructions-to-upload-id">
					<h5>Ready for next step?</h5>
					<button type="button" class="btn btn-default text-center" id="btn-upload-id">Upload your photo id</button>
				</div>
			</div>

		</div>
	</div>
</div>


<script src="/js/document.js" type="text/javascript"></script>